.footer{
    margin:0px;
    background: #2c3e50;
    margin-top:0px;
    .container{
        margin-top:0;
    }
}
.footer-body-1{
    padding: 20px;
    float: left;
    width: 20%;
}
.footer-body-2{
    padding: 20px;
    float: left;
    width: 20%;
}
.footer-body-3{
    padding: 20px;
    float: left;
    width: 20%;
}
.footer-body-4{
    padding: 20px;
    float: left;
    width: 20%;
}